<!--navbar with menu-->
<nav class="navbar navbar-expand-lg navbar-light navbar-dark bg-dark sticky-top" > 
    <span class="navbar-brand" id="logo" href="#"><i class="fas fa-mountain fa-3x"></i></span>
              
    <span class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#"><h1><b>mountain Love</b></h1></a>
        </li>
      </ul>
    </span>

<!--right-side menu-->
<ul class="nav justify-content-end">      
    <li class="nav-item">
        <a class="nav-link" routerLink=''>Strona główna</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/ranking">Ranking</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#top_3_panel">Top 3</a>
    </li>
    <li class="nav-item">
      <!--clock-->
        <div class="nav-link" id="date">{{date | date:'EEEE, dd-MM-yyyy'}}{{time}}</div>
    </li>
</ul>
</nav>



