@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah&display=swap');
h1{
      color: rgb(223, 215, 215);
      font-family: 'Gloria Hallelujah', cursive;
      font-size: 1,025em;
  }
#logo i {
    margin-left: 20px;
    color: white;
}

#date{
  color: rgb(168, 164, 164);
  font-size: 13px;
  font-weight: 500;
}
.nav-link{
  color: rgb(233, 227, 227);
}
